<!DOCTYPE html>

{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}


<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Challenge">
        <meta name="author" content="John DeSilvio">

        <title>{% block title %}Challenge{% endblock %}</title>

        {% block head %}
            {{super()}}
            {{fixes.ie8()}}
        {% endblock %}

        {% block styles %}
            {{super()}}
            <link rel="stylesheet" type="text/css"
                  href="{{url_for('static', filename='styles.css')}}">
        {% endblock %}
    </head>

    <body>
        <div class="container">
          {% block content %}{% endblock %}
        </div>
    </body>
</html>
